<h1>Newsletter#email_blast</h1>
<p>
  <%= @greeting %> <%= @user.email %>, find me in app/views/newsletter_mailer/email_blast.html.erb
</p>
<%= link_to "Unsubscribe", mailkick_unsubscribe_url(@user, @name) %>
